{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}
    {% include 'default/flashMessages.html.twig' %}

    <div class="container">
        <div class="upload-area">
            <h3>{{ 'upload_json'|trans }}</h3>
            <hr>
            {{ form_start(form) }}
            <div class="upload-from">
                {{ form_row(form.file) }}

                {{ form_row(form.save) }}
{#                <span class="right-span">#}
                    <div class="text-right">
                        <small class="text-muted">
                            {{ 'file_size'|trans }} <span class="font-bold">max 10MB</span>,
                            {{ 'file_format'|trans }} <span class="font-bold">json</span>
                        </small>
                    </div>
{#                </span>#}


            </div>
            <div class="form-error-message">
            {{ form_errors(form) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
