{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    {% if articles is empty %}
        <div class="row mt-5">
            <div class="col col-12 text-center">
                <p class="lead">There is
                    <ins>no</ins>
                    articles, import one!
                </p>
            </div>
        </div>
    {% else %}
        {#        {{ dump(articles) }}#}
        <div class="container">
            <section class="artikel-liste">
                {% for article in articles %}
                    <article class="col-4">
                        <div class="wrapper">
                            {#                    <a href="#">#}
                            <figure>

                                <div>
                                    <img src="{{ article.image.url }}" id="zoomImage" class="thumbnail hover-shadow">
                                </div>
                            </figure>
                            <figcaption>
                                <div class="copyright">
                                    © {{ article.author.firstName ~ article.author.lastName }}
                                </div>
                            </figcaption>
                            <header>
                                <h1>
                                    <a></a>
                                    <span class="small">{{ article.subtitle }}</span>
                                    <span>{{ article.headline }}</span>
                                </h1>
                            </header>
                            <p class="block-with-text">
                                {{ article.introduction }}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>
    {% endif %}

    <div id="myModal" class="modal">
        <span class="close cursor" id="closeImage">&times;</span>
        <div class="modal-content">
            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="https://praxistipps.s3.amazonaws.com/2019-02/jbl_pulse_3_1280.jpg" style="width:100%">
            </div>
            <!-- Caption text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail image controls -->
            <div class="column">
                <img class="demo" src="https://praxistipps.s3.amazonaws.com/2019-02/jbl_pulse_3_1280.jpg"
                     onclick="currentSlide(1)" alt="Nature">
            </div>

        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/build/js/chip.js') }}" defer></script>
        <script src="{{ asset('/build/js/app.js') }}" defer></script>
    {% endblock %}
{% endblock %}

                        {#                        <div class="thumbnail">#}
                        {#                            <li>{{ article.urlId }} </li>#}
                        {#                            <li>{{ article.urlSlug }} </li>#}
                        {#                            <li>{{ article.headline }} </li>#}
                        {#                            <li>{{ article.subtitle }} </li>#}
                        {#                            <li>{{ article.author.firstName }} </li>#}
                        {#                            <div class="row">#}
                        {#                                <div class="colum">#}

                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        <li><img src="{{ article.image.url }}"></li>#}
                        {#               <li>{{ dump(article.chapter) }} </li>#}
                        {#                            {% for relatedArticle in article.chapter %}#}
                        {#                                {{ relatedArticle.id }}#}
                        {#                            {% endfor %}#}
{#                    </a>#}