{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    {% include 'default/flashMessages.html.twig' %}

    {% set maxCharLength = 160 %}
    <div class="container">
        {% if articles is empty %}
        <div class="row mt-5">
            <div class="no-article">
                <p class="text-center">
                    <span>{{ 'no_article_import'|trans }}</span>
                    <a href="{{ path('upload') }}" class="previous">{{ 'back_to_upload'|trans }}</a>
                </p>
            </div>
        </div>
        {% else %}

        <div class="row">
            <div class="upload-area">
                <a href="{{ path('upload') }}" class="previous">{{ 'back_to_upload'|trans }}</a>
            </div>
            {% for article in articles %}
                <div class="column">
                    <div class="card">
                        <figure>
                            <div class="wrapper">
                                <img src="{{ article.image.url }}" class="thumbnail zoomImage"
                                     data-iamgeurl="{{ article.image.url }}"
                                     data-caption="{{ article.image.source }}">
                            </div>
                            <figcaption>
                                <div class="copyright">
                                    © {{ article.author.firstName ~ article.author.lastName }}
                                </div>
                            </figcaption>
                        </figure>
                        <div class="article-text">
                            <header>
                                <h3>
                                    <span class="small">{{ article.subtitle }}</span>
                                    <br>
                                    <a href="{{ path('article_details', {'id': article.id, 'slug': article.urlSlug}) }}">
                                        <span>{{ article.headline }}</span>
                                    </a>
                                </h3>
                            </header>
                            <a href="{{ path('article_details', {'id': article.id, 'slug': article.urlSlug}) }}">
                                <p class="block-with-text">
                                    {% if article.introduction|length > maxCharLength %}
                                        {{ article.introduction|slice(0, maxCharLength) ~ ' ...' }}
                                    {% else %}
                                        {{ article.introduction }}
                                    {% endif %}
                                </p>
                            </a>
                        </div>
                        <footer>
                            <span class="small">{{ article.displayDate.date | localizeddate('full', 'none') }}</span>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="myModal" class="modal">
        <span class="close cursor" id="closeImage">&times;</span>
        <div class="modal-content">
            <img id="modalImage" src="" style="width:100%">
            <!-- Caption text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/build/js/chip.js') }}" defer></script>
        <script src="{{ asset('/build/js/app.js') }}" defer></script>
    {% endblock %}
{% endblock %}